<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprint</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <img src="imglogo.png" alt="Website Logo" class="logo">
        <h1>Imprint</h1>
    </header>

    <section>
        <h2>Contact Information</h2>
        <div class="contacts">
            <p>Contact 1: Baiasu Stefan Rares (sbaiasu@constructor.university)</p>
            <p>Contact 2: Jacob Mekdem Asfaw (jasfaw@constructor.university)</p>
            <p>Contact 3: Patrick Horiszny (phoriszny@vassar.edu)</p>
        </div>

        <p>
            This website is student lab work and does not necessarily reflect Constructor University opinions. 
            Constructor University does not endorse this site, nor is it checked by Constructor University regularly, 
            nor is it part of the official Constructor University web presence.
        </p>
    </section>

    <section>
        <img src="imglogo.png" alt="Small Picture" class="small-picture">
    </section>

    <footer>
        <p>©2024 JRP_Entertainment_Database    
            <a href="index">Home</a> |
            <a href="maintenance">Maintenance</a>
        </p>
    </footer>
</body>
</html>
