<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRP_Entertainment_Database</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <img src="imglogo.png" alt="Website Logo" class="logo">
        <h1>JRP_Entertainment_Database</h1>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="maintenanceLogin">Maintenance</a></li>
                <li><a href="imprint">Imprint</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Search for Movies</h2>
        <form class="search-bar">
            <input type="text" placeholder="Search movies or series..." name="search">
            <button type="submit">Search</button>
        </form>
    </section>

    <section>
        <h2>Query Search Forms</h2>
        <ul>
            <li><a href="inceptionSearch">People and their roles in Inception</a></li>
            <li><a href="communitySearch">People and their roles in Community</a></li>
            <li><a href="arrestedDevelopmentSearch">People and their roles in Arrested Development</a></li>
        </ul>
    </section>

    <section>
        <h2>Featured Movies</h2>
        <div class="movie-grid">
            <div class="movie-item">Movie 1</div>
            <div class="movie-item">Movie 2</div>
            <div class="movie-item">Movie 3</div>
            <div class="movie-item">Movie 4</div>
        </div>

        <h2>Featured Series</h2>
        <div class="series-grid">
            <div class="series-item">Series 1</div>
            <div class="series-item">Series 2</div>
            <div class="series-item">Series 3</div>
            <div class="series-item">Series 4</div>
            <div class="series-item">Series 5</div>
        </div>

    </section>

    <section>
        <h2>About Us</h2>
        <img src="imglogo.png" alt="Small Picture" class="small-picture">
        <p>We are dedicated to bringing you the best in movies and series.</p>
    </section>
    
    <footer>
        <p>© 2024 JRP_Entertainment_Database    <a href="imprint.html">Imprint</a></p>
    </footer>
</body>
</html>
