<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Page</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <img src="imglogo.png" alt="Website Logo" class="logo">
        <h1>Maintenance Page</h1>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="imprint">Imprint</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Manage Data Inputs</h2>
        <ul>
            <li><a href="movieInput">Movie Input Form</a></li>
            <li><a href="tvInput">TV Show Input Form</a></li>
            <li><a href="documentaryInput">Documentary Input Form</a></li>
            <li><a href="actorInput">Actor Input Form</a></li>
            <li><a href="directorInput">Director Input Form</a></li>
            <li><a href="producerInput">Producer Input Form</a></li>
            <li><a href="login">Login Form</a></li>
        </ul>
    </section>

    <footer>
        <p>©2024 JRP_Entertainment_Database     <a href="index.html">Home</a></p>
    </footer>
</body>
</html>